.forecast-details {
    text-align: center;
    padding: 20px;
  }
.forecast-details .forecast-details__date{
    font-size: 24px;
    font-weight: 700;

}

span{
    font-size: 17px;
    font-weight: 500px !important;
}